/*skin for archive of our own. below the css is a list of colors/fonts the site supports. feel free
to swap them out. feel free to use, alter, build off of, do whatever with this theme

preview: http://s3.amazonaws.com/otw-ao3-icons/skins/icons/98656/original.png?1472595638

Ravenclaw theme based off of these colors http://www.color-hex.com/color-palette/3653
*/



#header .user a,
#header a:hover,
#header .user .current,
#small_login .action,
#dashboard a,
#dashboard span,
a:visited:hover,
.splash .module h3,
.splash .browse ul,
.splash .browse li,
.actions a:hover,
.menu a:hover,
form .notice,
form ul.notes,
#dashboard a:hover,
form dd.required,
.required,
.error {
  color: silver;
}

li.relationships a:hover,
#header .primary,
#footer,
a:link .dropdown,
input {
  background-color: #7e7e7e;
  background: #7e7e7e;
  color: #7e7e7e;
}

.flash.notice,
fieldset,
.listbox,
fieldset fieldset.listbox,
.listbox .index,
ul,
body,
li.relationships a,
#user-fandoms ol,
div.preface.group,
p,
h2.title.heading,
h3.byline.heading,
h1,
h2,
h3,
h4,
h5,
h6,
.heading,
#header .user,
a.dropdown-toggle,
input.button,
.home .header .userstuff,
.home .header dl.stats,
.home .header .type,
#outer,
#dashboard.own,
.blurb h4 a:link,
#header .heading a,
.actions a:visited,
.action:visited,
.action a:link,
.action a:visited,
#footer a,
#footer .heading,
#header a:hover,
a.tag,
a,
a:link,
a:visited:hover,
a:hover {
  background-color: #1d2a54;
  color: silver;
  font-family: garamond, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border-top: #1d2a54;
  border-bottom: #1d2a54;
}

a:visited {
  color: white;
}

#dashboard .current {
  background: white;
}

.splash .browse li a:before {
  color: white;
}

#header a,
#header a:visited,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus,
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .current,
#header .menu,
#small_login,
#header .dropdown:hover .current+.menu {
  color: black;
}

a.tag {
  text-decoration: underline;
}

a:hover,
li.relationships a:hover,
a.tag:hover {
  color: black;
  background: white;
  text-decoration: underline;
}

/* colors that are available:

aliceblue, antiquewhite, aqua, aquamarine, azure, beige, bisque, black, 
blanchedalmond, blue, blueviolet, brown, burlywood, cadetblue, chartreuse, 
chocolate, coral, cornflowerblue, cornsilk, crimson, cyan, darkblue, darkcyan, 
darkgoldenrod, darkgray, darkgreen, darkkhaki, darkmagenta, darkolivegreen, darkorange, 
darkorchid, darkred, darksalmon, darkseagreen, darkslateblue, darkslategray, 
darkturquoise, darkviolet, deeppink, deepskyblue, dimgray, dodgerblue, firebrick, 
floralwhite, forestgreen, fuchsia, gainsboro, ghostwhite, gold, goldenrod, gray, green, 
greenyellow, honeydew, hotpink, indianred, indigo, ivory, khaki, lavender, lavenderblush, 
lawngreen, lemonchiffon, lightblue, lightcoral, lightcyan, lightgoldenrodyellow, lightgrey, 
lightgreen, lightpink, lightsalmon, lightseagreen, lightskyblue, lightslategray, lightsteelblue, 
lightyellow, lime, limegreen, linen, magenta, maroon, mediumaquamarine, mediumblue, mediumorchid, 
mediumpurple, mediumseagreen, mediumslateblue, mediumspringgreen, mediumturquoise, mediumvioletred, 
midnightblue, mintcream, mistyrose, moccasin, navajowhite, navy, oldlace, olive, olivedrab, orange, 
orangered, orchid, palegoldenrod, palegreen, paleturquoise, palevioletred, papayawhip, peachpuff, peru, 
pink, plum, powderblue, purple, red, rosybrown, royalblue, saddlebrown, salmon, sandybrown, seagreen, 
sienna, silver, skyblue, slateblue, slategray, snow, springgreen, steelblue, tan, teal, 
thistle, tomato, turquoise, violet, wheat, white, whitesmoke, yellow, yellowgreen

fonts that are available:

serif, sans-serif, monospace, cursive, fantasy, andale mono, arial, arial black, book antiqua, 
bookman old style, calibri, cambria, candara, charcoal, comic sans ms, consolas, constantia, corbel, 
courier, courier new, fertigoproregular, gadget, garamond, geneva, georgia, helvetica, impact, 
liberation mono, liberation sans, liberation serif, lucida console, lucida grande, lucida sans unicode, 
monaco, ms sans serif, ms serif, palatino, palatino linotype, symbol, tahoma, times, times new roman, 
trebuchet ms, verdana, webdings, wingdings, zapf dingbats


*/ 
